[Unit]
Description=Monitors events coming from the file system (FLSYS)
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=/bin/bash /root/MP/monitors/FLSYS/monitorfilesystem.sh

[Install]
WantedBy=multi-user.target
